@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

$color-main: #2c2928;
$color-border: #a7a7a7;
$color-background: #f2ece4;
$color-white: #fcfbfa;
$color-a : #2c2928;

$sidemenu-black: #231f20;
$sidemenu-gray: #999999;
$sidemenu-background: #ffffff;

$mobilemenu-border: #dddddd;

$font-sans: Pretendard;
$font-serif: 'Noto Serif KR', serif;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1520px;
