@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Pretendard;
  background-color: #f2ece4;
}

a {
  display: block;
  text-decoration: none;
  color: #2c2928;
}

a:hover {
  color: #2c2928;
}

h1 {
  width: 200px;
}

h2 {
  font-family: "Noto Serif KR", serif;
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.1em;
  font-weight: 600;
}

p {
  font-size: 1.1em;
  line-height: 1.4em;
}

ul, li {
  list-style: none;
  list-style-position: inside;
}

header {
  position: relative;
  z-index: 999;
}

header div.header-mobile {
  width: 100%;
}

header div.header-mobile div.header-flex-box {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2928;
}

header div.header-mobile div.header-flex-box h1.logo {
  margin: 0 20px;
  line-height: 80px;
}

header div.header-mobile div.header-flex-box h1.logo img {
  width: 100px;
  display: block;
}

header div.header-mobile div.header-flex-box div.hamburger {
  width: 25px;
  height: 20px;
  margin-right: 20px;
}

header div.header-mobile div.header-flex-box div.hamburger input[id="menu"] {
  display: none;
}

header div.header-mobile div.header-flex-box div.hamburger input[id="menu"] + label {
  position: relative;
  display: block;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

header div.header-mobile div.header-flex-box div.hamburger input[id="menu"] + label span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 30px;
  background: #ffffff;
  transition: 0.3s;
}

header div.header-mobile div.header-flex-box div.hamburger input[id="menu"] + label span:nth-child(1) {
  top: 0;
}

header div.header-mobile div.header-flex-box div.hamburger input[id="menu"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

header div.header-mobile div.header-flex-box div.hamburger input[id="menu"] + label span:nth-child(3) {
  bottom: 0;
}

header div.header-mobile div.header-flex-box div.hamburger input[id="menu"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

header div.header-mobile div.header-flex-box div.hamburger input[id="menu"]:checked + label span:nth-child(2) {
  opacity: 0;
}

header div.header-mobile div.header-flex-box div.hamburger input[id="menu"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

header div.header-mobile div.mobilemenu {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb {
  height: 0vh;
  padding: 0 20px;
  list-style: none;
  overflow: hidden;
  transition: height ease-in-out 1s 0s;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu {
  padding: 20px 0;
  border-bottom: 1px solid #dddddd;
  font-size: 1.1em;
  font-weight: 600;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu::before {
  content: "";
  display: inline-block;
  height: 13px;
  width: 13px;
  background: url("./../../../images/icon-circle.svg") no-repeat center;
  transition: 0.3s ease;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu:hover::before {
  background: url("./../../../images/icon-circle_h.svg") no-repeat center;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu.selected::before {
  background: url("./../../../images/icon-circle.svg") no-repeat center;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu > a, header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu button.accordion {
  display: inline-block;
  padding-left: 10px;
  color: #231f20;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu button.accordion {
  background-color: transparent;
  cursor: pointer;
  width: calc(100% - 30px);
  border: none;
  font-family: Pretendard;
  font-size: 1em;
  font-weight: 600;
  transition: 0.5s;
  text-align: left;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu button.accordion::after {
  background: url("./../../../images/arr_bottom.svg") no-repeat;
  width: 13px;
  height: 13px;
  content: "";
  float: right;
  position: relative;
  top: 5px;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu button.accordion.active::after {
  background: url("./../../../images/arr_up.svg") no-repeat;
  content: "";
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu ul.small-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 27px;
  line-height: 1.4em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu ul.small-menu li {
  padding: 5px 0;
  width: 50%;
  font-size: 0.9em;
  font-weight: 400;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu ul.small-menu li:first-child, header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu ul.small-menu li:nth-child(2) {
  padding-top: 15px;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu ul.small-menu li a {
  display: inline-block;
  color: #999999;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu ul.small-menu li a:hover {
  color: #231f20;
  font-weight: 500;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb > li.mobilemenu ul.small-menu li a.selected {
  color: #231f20;
  font-weight: 500;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb li.mobilemenu-box ul.login-flex-box {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb li.mobilemenu-box ul.login-flex-box li.mobilemenu {
  width: calc(100% / 3);
  padding: 10px;
  border: 1px solid #dddddd;
  text-align: center;
}

header div.header-mobile div.mobilemenu ul.mobile-gnb li.mobilemenu-box ul.login-flex-box li.mobilemenu:first-child, header div.header-mobile div.mobilemenu ul.mobile-gnb li.mobilemenu-box ul.login-flex-box li.mobilemenu:nth-child(2) {
  border-right: none;
}

header ul.topmenu {
  display: none;
}

@media screen and (min-width: 768px) {
  header div.header-mobile {
    display: none;
  }
  header ul.topmenu {
    margin-left: 200px;
    padding: 0 7%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (min-width: 1520px) {
  header ul.topmenu {
    margin: 0 auto;
    width: 1320px;
    padding: 0;
    transform: translateX(100px);
  }
}

@media screen and (min-width: 768px) {
  header ul.topmenu li.submenu {
    width: calc(100% / 3);
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    line-height: 80px;
    border-bottom: 1px solid #a7a7a7;
  }
  header ul.topmenu li.submenu a {
    position: relative;
  }
  header ul.topmenu li.submenu a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    left: 50%;
    position: absolute;
    border-bottom: 2px solid #2c2928;
    transform: translateY(-3px);
    transition: all 0.3s ease 0s, left 0.3s ease 0s;
  }
  header ul.topmenu li.submenu:hover > a::after {
    width: 100%;
    left: 0;
  }
  header ul.topmenu li.submenu.selected {
    border-bottom: 2px solid #2c2928;
  }
}

main {
  display: flex;
  flex-direction: row;
}

aside div.sidemenu {
  display: none;
}

@media screen and (min-width: 768px) {
  aside {
    background-color: #ffffff;
  }
  aside div.sidemenu {
    display: block;
    width: 200px;
    height: 100%;
    float: left;
    transform: translateY(-80px);
    background-color: #ffffff;
  }
  aside div.sidemenu h1.header-logo {
    padding: 10px 30px 25px 21px;
  }
  aside div.sidemenu ul.gnb {
    padding-left: 30px;
  }
  aside div.sidemenu ul.gnb li.menu {
    padding: 10px 0;
    font-size: 1.1em;
    font-weight: 600;
  }
  aside div.sidemenu ul.gnb li.menu::before {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    background: url("./../../../images/icon-circle.svg") no-repeat center;
    transition: background 0.3s ease;
  }
  aside div.sidemenu ul.gnb li.menu:hover::before {
    background: url("./../../../images/icon-circle_h.svg") no-repeat center;
  }
  aside div.sidemenu ul.gnb li.menu.selected::before {
    background: url("./../../../images/icon-circle_h.svg") no-repeat center;
  }
  aside div.sidemenu ul.gnb li.menu > a {
    display: inline-block;
    padding-left: 10px;
    color: #231f20;
  }
  aside div.sidemenu ul.gnb li.menu ul.small-menu {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 24px;
    line-height: 1.4em;
  }
  aside div.sidemenu ul.gnb li.menu ul.small-menu li {
    font-size: 0.9em;
    font-weight: 400;
  }
  aside div.sidemenu ul.gnb li.menu ul.small-menu li a {
    display: inline-block;
    color: #999999;
    transition: color 0.3s ease, font-weight 0.3s ease;
  }
  aside div.sidemenu ul.gnb li.menu ul.small-menu li a:hover {
    color: #231f20;
    font-weight: 500;
  }
  aside div.sidemenu ul.gnb li.menu ul.small-menu li a.selected {
    color: #231f20;
    font-weight: 500;
  }
}

aside div.sidemenu {
  transform: translateY(0);
}

aside div.sidemenu .header-logo img {
  width: 100%;
  display: block;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 1520px) {
  section {
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1520px) {
  section {
    flex-direction: row;
  }
}

section #map-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

@media screen and (min-width: 1520px) {
  section #map-area {
    width: 70%;
  }
}

section #map-area .map-clipping {
  position: relative;
  width: 100%;
  height: 60vw;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  section #map-area .map-clipping {
    height: 50vh;
    margin-top: 0;
  }
}

@media screen and (min-width: 1520px) {
  section #map-area .map-clipping {
    height: 75vh;
  }
}

section #map-area .map-clipping .map {
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(0.5);
}

@media screen and (min-width: 768px) {
  section #map-area .map-clipping .map {
    transform: scale(0.8);
  }
}

@media screen and (min-width: 1520px) {
  section #map-area .map-clipping .map {
    transform: scale(1);
  }
}

section #map-area .map-clipping .map > * {
  position: absolute;
}

section #map-area .map-clipping .map > div {
  display: none;
}

section #map-area .map-clipping .map > div img {
  object-fit: none;
}

section #map-area .map-clipping .map #btn_guidance li {
  position: absolute;
}

section #map-area .map-clipping .map #btn_guidance li a img {
  filter: sepia(100%) contrast(90%) hue-rotate(350deg) brightness(90%);
}

section #map-area .map-clipping .map #btn_guidance li a .view {
  filter: none;
  filter: contrast(120%) brightness(55%);
}

section #map-area .map-clipping .map #btn_guidance .ghm {
  left: 151px;
  top: 499px;
}

section #map-area .map-clipping .map #btn_guidance .jg {
  left: 706px;
  top: 107px;
}

section #map-area .map-clipping .map #btn_guidance .hhd {
  left: 728px;
  top: 127px;
}

section #map-area .map-clipping .map #btn_guidance .twj {
  left: 599px;
  top: 20px;
}

section #map-area .map-clipping .map #btn_guidance .hwj {
  left: 830px;
  top: 85px;
}

section #map-area .map-clipping .map #btn_guidance .gcg {
  left: 865px;
  top: 50px;
}

section #map-area .map-clipping .map #btn_guidance .joj {
  left: 820px;
  top: 31px;
}

section #map-area .map-clipping .map #btn_guidance .jgj {
  left: 721px;
  top: 240px;
}

section #map-area .map-clipping .map #btn_guidance .gjj {
  left: 448px;
  top: 293px;
}

section #map-area .map-clipping .map #btn_guidance .suj {
  left: 449px;
  top: 244px;
}

section #map-area .map-clipping .map #btn_guidance .dg {
  left: 570px;
  top: 319px;
}

section #map-area .map-clipping .map #btn_guidance .sjb {
  left: 646px;
  top: 288px;
}

section #map-area .map-clipping .map #btn_guidance .ghr {
  left: 515px;
  top: 188px;
}

section #map-area .map-clipping .map #btn_guidance .hbj {
  left: 640px;
  top: 175px;
}

section #map-area .map-clipping .map #btn_guidance .gtj {
  left: 600px;
  top: 226px;
}

section #map-area .map-clipping .map #btn_guidance .saj {
  left: 529px;
  top: 270px;
}

section #map-area .map-clipping .map #btn_guidance .gnj {
  left: 556px;
  top: 243px;
}

section #map-area .map-clipping .map .bd {
  display: block;
  filter: grayscale(100%) sepia(100%) contrast(80%) hue-rotate(350deg);
}

section #map-area .map-clipping .map .road {
  display: block;
}

section #map-area .map-clipping .map .view {
  display: flex;
}

section #map-area .buttons {
  position: relative;
  width: 100%;
  max-width: 1800px;
}

@media screen and (min-width: 768px) {
  section #map-area .buttons {
    display: flex;
    flex-flow: row-reverse  wrap;
    justify-content: flex-end;
    gap: 2vw;
    margin-bottom: -3vw;
    padding: 3vh 100px 4vh 60px;
  }
}

@media screen and (min-width: 1520px) {
  section #map-area .buttons {
    justify-content: flex-end;
    gap: 4vw;
    margin-bottom: -8vw;
    padding: 4.4vh 100px 4vh 60px;
  }
}

section #map-area .buttons > * {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  section #map-area .buttons > * {
    position: static;
    padding: 0;
    margin: 0;
  }
}

section #map-area .buttons .info-menu {
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  section #map-area .buttons .info-menu {
    visibility: visible;
    position: static;
    transform: translateX(0);
    display: block;
    width: 410px;
    min-width: 400px;
  }
}

@media screen and (min-width: 1520px) {
  section #map-area .buttons .info-menu {
    display: block;
    min-width: 400px;
    padding-bottom: 4vh;
  }
}

section #map-area .buttons .info-menu ul {
  color: #fcfbfa;
  font-size: 0.9em;
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1px;
  padding-top: 10px;
  padding-bottom: 9vh;
}

@media screen and (min-width: 768px) {
  section #map-area .buttons .info-menu ul {
    padding-bottom: 4vh;
  }
}

section #map-area .buttons .info-menu ul li {
  line-height: 2em;
  min-width: 86px;
  background-color: #b59a7b;
}

@media screen and (min-width: 768px) {
  section #map-area .buttons .info-menu ul li {
    min-width: 100px;
    background-color: #b59a7b;
  }
}

section #map-area .buttons .info-menu ul li a {
  color: #fcfbfa;
}

section #map-area .buttons .info-menu ul li a:hover {
  color: #4c4742;
  background-color: #fcfbfa;
}

section #map-area .buttons .info-menu ul .btn_course {
  background-color: #7e6754;
}

section #map-area .buttons .restore-menu {
  visibility: hidden;
  width: 360px;
  color: #7e6754;
  text-align: center;
}

section #map-area .buttons .restore-menu * {
  margin-bottom: 0.5vh;
}

@media screen and (min-width: 768px) {
  section #map-area .buttons .restore-menu {
    visibility: visible;
    position: relative;
    display: block;
  }
}

section #map-area .buttons .restore-menu h2 {
  font-size: 1.6em;
  letter-spacing: -2px;
}

@media screen and (min-width: 768px) {
  section #map-area .buttons .restore-menu h2 {
    font-size: 1.6em;
  }
}

section #map-area .buttons .restore-menu .btn_step1 {
  display: flex;
  justify-content: center;
  line-height: 1.6em;
}

section #map-area .buttons .restore-menu .btn_step1 a {
  border: 1px solid rgba(117, 117, 117, 0.5);
  padding: 1px 7px;
  margin: 2px;
}

section #map-area .buttons .restore-menu .btn_step1 .view {
  background-color: #fff;
}

section #map-area .buttons .restore-menu .btn_step2 {
  display: flex;
  justify-content: center;
}

section #map-area .buttons .restore-menu .btn_step2 li {
  width: 63px;
  line-height: 45px;
  text-align: center;
  padding: 2px;
}

section #map-area .buttons .restore-menu .btn_step2 li a {
  color: #fcfbfa;
  border-radius: 25%;
  background-color: #7e6754;
}

section #map-area .buttons .restore-menu .btn_step2 li .view {
  color: #4c4742;
  background-color: #fcfbfa;
}

section #map-area .buttons .restore-menu .comment {
  text-align: center;
}

section #map-area .buttons .restore-menu .comment span {
  display: none;
}

section #map-area .buttons .restore-menu .comment .view {
  display: block;
}

section #map-area .buttons .mobile-btn {
  display: inline-block;
  width: 48%;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin: auto;
  margin-left: 1%;
}

section #map-area .buttons .mobile-btn:hover {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  section #map-area .buttons .mobile-btn {
    display: none;
  }
}

section #map-area .buttons input {
  display: none;
}

section #map-area .buttons input:checked + label {
  border-bottom: 2px solid #757575;
}

section #map-area .buttons #tab1:checked ~ .info-menu,
section #map-area .buttons #tab2:checked ~ .restore-menu {
  visibility: visible;
}

@keyframes emphasis {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

section #guidance-area {
  position: relative;
  padding: 4vh;
  background-color: #e1d4c6;
}

@media screen and (min-width: 768px) {
  section #guidance-area {
    padding: 5vh;
  }
}

@media screen and (min-width: 1520px) {
  section #guidance-area {
    width: 30vw;
    height: unset;
    padding: 3vw;
    padding-bottom: 20vh;
  }
}

section #guidance-area .guidance-comment {
  display: none;
  position: absolute;
  z-index: 50;
  animation: emphasis 1s alternate infinite;
}

@media screen and (min-width: 1520px) {
  section #guidance-area .guidance-comment {
    display: block;
    left: 3vw;
    top: 5vh;
  }
}

section #guidance-area .guidance {
  display: none;
  flex-flow: column wrap;
  gap: 2vh;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  text-align: justify;
  color: #4c4742;
}

@media screen and (min-width: 970px) {
  section #guidance-area .guidance {
    flex-flow: row nowrap;
    align-content: space-between;
    gap: 0;
  }
}

@media screen and (min-width: 1520px) {
  section #guidance-area .guidance {
    flex-flow: column nowrap;
    justify-content: start;
    margin-top: 20vh;
  }
}

section #guidance-area .guidance .place-txt {
  width: 100%;
  align-items: baseline;
}

@media screen and (min-width: 970px) {
  section #guidance-area .guidance .place-txt {
    max-width: 40vw;
    padding-bottom: 2vh;
  }
}

@media screen and (min-width: 1520px) {
  section #guidance-area .guidance .place-txt {
    padding-bottom: 0;
    flex-wrap: wrap;
  }
}

section #guidance-area .guidance .place-txt h2 {
  font-size: 6vw;
  display: inline;
}

@media screen and (min-width: 970px) {
  section #guidance-area .guidance .place-txt h2 {
    font-size: 8vw;
    font-size: 2.4em;
  }
}

section #guidance-area .guidance .place-txt p {
  width: 100%;
  font-size: 1em;
  letter-spacing: -1px;
  padding: 1.6vh 0;
}

@media screen and (min-width: 970px) {
  section #guidance-area .guidance .place-txt p {
    padding: 2vh 0;
  }
}

@media screen and (min-width: 1520px) {
  section #guidance-area .guidance .place-txt p {
    width: 100%;
    line-height: 1.5em;
    padding-bottom: 5vh;
  }
}

section #guidance-area .guidance .place-img {
  width: 100%;
  height: 20vh;
}

@media screen and (min-width: 970px) {
  section #guidance-area .guidance .place-img {
    width: 100%;
    height: 30vh;
    margin-left: 2em;
  }
}

@media screen and (min-width: 1520px) {
  section #guidance-area .guidance .place-img {
    width: 100%;
    height: 30vh;
    margin: 0;
  }
}

section #guidance-area .guidance .place-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section #guidance-area .view {
  display: flex;
}

footer {
  background-color: #2c2928;
}

footer div.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

footer div.wrapper div.policy > ul {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer div.wrapper div.policy > ul li > a {
  color: #ffffff;
  font-size: 0.7em;
  font-weight: 200;
}

footer div.wrapper div.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 0;
}

footer div.wrapper div.copyright div.footer-logo {
  display: none;
}

footer div.wrapper div.copyright div.contact {
  color: #ffffff;
  line-height: 1.1em;
}

footer div.wrapper div.copyright div.contact p {
  font-size: 0.7em;
  font-weight: 200;
}

footer div.wrapper div.copyright div.contact p:first-child {
  font-size: 0.8em;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 0 50px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1520px) {
  footer {
    padding: 0 200px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1520px) {
  footer div.wrapper {
    padding: 0 13%;
  }
}

@media screen and (min-width: 768px) {
  footer div.wrapper div.policy > ul {
    width: 50%;
  }
  footer div.wrapper div.policy > ul li > a {
    font-size: 0.9em;
  }
  footer div.wrapper div.copyright div.footer-logo {
    display: block;
    width: 145px;
    padding-bottom: 0;
  }
  footer div.wrapper div.copyright div.footer-logo img {
    filter: invert(96%) sepia(96%) saturate(18%) hue-rotate(266deg) brightness(105%) contrast(105%);
  }
  footer div.wrapper div.copyright div.contact {
    width: 85%;
    line-height: 1.6em;
  }
  footer div.wrapper div.copyright div.contact p {
    padding-left: 10%;
    font-size: 0.9em;
    font-weight: 200;
  }
  footer div.wrapper div.copyright div.contact p:first-child {
    display: none;
  }
}

footer .footer-logo img {
  width: 100%;
  display: block;
}
/*# sourceMappingURL=map.css.map */