@import "./../../../scss/_style.scss";
@import "./../../../scss/_common.scss";
@import "./../../../scss/_mixin-responsive-wrapper.scss";
@import "./../../../scss/_mixin-sidemenu.scss";
@import "./../../../scss/_mixin-footer.scss";
@import "_mixin-topmenu.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

// header
header {
    @include topmenu-mobile();
    @include responsive(tablet-size) {
        @include topmenu-pc();
    }
}

// main
main {
    @include menu-flex();
}

// aside
aside {
    @include sidemenu-mobile();
    @include responsive(tablet-size) {
        @include sidemenu-pc();
    }
}

//section
section {
    @include wrapper();

    section.roy1 {
        width: 100%;
   

        h2 {
            text-align: center;
            margin: 50px 0;
            font-size: 1.875em;
        }
        ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            
            li {
                width: 50%;
                padding-bottom: 25px;

                @include responsive(pc-size) {
                    p>br {
                        display: none;
                    }
                }

                div.month {
                    width: 100%;
                    margin: 0 auto;

                    @include responsive(tablet-size) {
                        width:60%;
                    }

                    @include responsive(pc-size) {
                        width:50%;
                    }
                    h3 {
                        padding-bottom: 5px;
                    }
                }
                &:last-child {
                    transform: translateY(2px);
                    h3 {
                        font-size: 16px;
                        font-weight: 500;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
          
        }
    }

    section.roy2 {
        padding-bottom: 92px;
        h2 {
            text-align: center;
            margin: 50px 0;
            font-size: 1.875em;
        }
        
        #roy2-price {
            width: 100%;
            @include responsive(tablet-size) {
                padding: 30px;
            }
            th {
                background-color: #d4cabd;
            }
            th,
            td {
                border: 1px solid #c1b7aa;
                padding: 7px;
                text-align: center;

                .br_list {
                    text-align: left;
                }
               

                @include responsive(pc-size) {
                    padding: 40px 50px;
                }
            }
            border-collapse: collapse;
            
            tr{
                .br-list{
                    div.list-align {
                        width: 60%;
                        margin: 0 auto;
                        text-align: left;
                    }
                }

                .last-list a{
                   text-decoration: underline;
                }
            }
        }    
    }    
}


// footer
footer {
    @include footer-mobile();
    @include responsive(tablet-size) {
        @include footer-pc();
    }
}